body {
    background-color: rgb(29, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color:rgb(114, 175, 255)
}
a:visited{
    color:blue
}
h1,h6,h5 {
    color: rgb(174, 174, 208);
}
.borderimage{
    border-radius: 15px;
}   